ALTER PROCEDURE [dbo].[sp_CargarTablas]
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Eliminar tablas en orden inverso para respetar claves foráneas
	-- NOTA: SE extraja de satckoverflow "https://stackoverflow.com/questions/3913620/get-all-table-names-of-a-particular-database-by-sql-query"
    IF EXISTS (SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'BitacoraEventos')
        DROP TABLE BitacoraEventos;
    
    IF EXISTS (SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'Asistencias')
        DROP TABLE Asistencias;
    
    IF EXISTS (SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'Movimiento')
        DROP TABLE Movimiento;
    
    IF EXISTS (SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'DeduccionesMensualesEmpleado')
        DROP TABLE DeduccionesMensualesEmpleado;
    
    IF EXISTS (SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'PlanillaMensualEmpleado')
        DROP TABLE PlanillaMensualEmpleado;
    
    IF EXISTS (SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'PlanillaSemanalEmpleado')
        DROP TABLE PlanillaSemanalEmpleado;
    
    IF EXISTS (SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'JornadasEmpleados')
        DROP TABLE JornadasEmpleados;
    
    IF EXISTS (SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'SemanasPlanilla')
        DROP TABLE SemanasPlanilla;
    
    IF EXISTS (SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'MesesPlanilla')
        DROP TABLE MesesPlanilla;
    
    IF EXISTS (SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'EmpleadosDeduccion')
        DROP TABLE EmpleadosDeduccion;
    
    IF EXISTS (SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'Empleado')
        DROP TABLE Empleado;
    
    IF EXISTS (SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'Usuario')
        DROP TABLE Usuario;
    
    IF EXISTS (SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'TiposEvento')
        DROP TABLE TiposEvento;
    
    IF EXISTS (SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'TiposDeduccion')
        DROP TABLE TiposDeduccion;
    
    IF EXISTS (SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'TiposMovimiento')
        DROP TABLE TiposMovimiento;
    
    IF EXISTS (SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'Feriado')
        DROP TABLE Feriado;
    
    IF EXISTS (SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'Departamento')
        DROP TABLE Departamento;
    
    IF EXISTS (SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'Puesto')
        DROP TABLE Puesto;
    
    IF EXISTS (SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'TiposJornada')
        DROP TABLE TiposJornada;
    
    IF EXISTS (SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'TiposDocumentoIdentidad')
        DROP TABLE TiposDocumentoIdentidad;
    
    -- Crear tablas
    CREATE TABLE TiposDocumentoIdentidad (
        Id INT PRIMARY KEY,
        Nombre VARCHAR(64) NOT NULL
    );
    
    CREATE TABLE TiposJornada (
        Id INT PRIMARY KEY,
        Nombre VARCHAR(64) NOT NULL,
        HoraInicio TIME NOT NULL,
        HoraFin TIME NOT NULL
    );
    
    CREATE TABLE Puesto (
        Id INT IDENTITY(1,1) PRIMARY KEY,
        Nombre VARCHAR(100) NOT NULL UNIQUE,
        SalarioXHora DECIMAL(25,2) NOT NULL
    );
    
    CREATE TABLE Departamento (
        Id INT PRIMARY KEY,
        Nombre VARCHAR(100) NOT NULL
    );
    
    CREATE TABLE Feriado (
        Id INT PRIMARY KEY,
        Nombre VARCHAR(100) NOT NULL,
        Fecha DATE NOT NULL
    );
    
    CREATE TABLE TiposMovimiento (
        Id INT PRIMARY KEY,
        Nombre VARCHAR(100) NOT NULL
    );
    
    CREATE TABLE TiposDeduccion (
        Id INT PRIMARY KEY,
        Nombre VARCHAR(100) NOT NULL,
        Obligatorio BIT NOT NULL,
        Porcentual BIT NOT NULL,
        Valor DECIMAL(25,4) NOT NULL
    );
    
    CREATE TABLE TiposEvento (
        Id INT PRIMARY KEY,
        Nombre VARCHAR(100) NOT NULL
    );
    
    CREATE TABLE Usuario (
        Id INT IDENTITY(1,1) PRIMARY KEY,
        Username VARCHAR(64) NOT NULL UNIQUE,
        Password VARCHAR(100) NOT NULL,
        Tipo INT NOT NULL
    );
    
    CREATE TABLE Empleado (
        Id INT IDENTITY(1,1) PRIMARY KEY,
        Nombre VARCHAR(100) NOT NULL,
        IdTipoDocumento INT NOT NULL,
        ValorDocumento VARCHAR(64) NOT NULL UNIQUE,
        FechaNacimiento DATE NOT NULL,
        IdDepartamento INT NOT NULL,
        IdPuesto INT NOT NULL,
        IdUsuario INT NOT NULL,
        Activo BIT NOT NULL DEFAULT 1,
        FOREIGN KEY (IdTipoDocumento) REFERENCES TiposDocumentoIdentidad(Id),
        FOREIGN KEY (IdDepartamento) REFERENCES Departamento(Id),
        FOREIGN KEY (IdPuesto) REFERENCES Puesto(Id),
        FOREIGN KEY (IdUsuario) REFERENCES Usuario(Id)
    );
    
    CREATE TABLE EmpleadosDeduccion (
        Id INT IDENTITY(1,1) PRIMARY KEY,
        IdEmpleado INT NOT NULL,
        IdTipoDeduccion INT NOT NULL,
        MontoFijo DECIMAL(25,2) NULL, 
        FechaAsociacion DATE NOT NULL DEFAULT GETDATE(),
        FechaDesasociacion DATE NULL,
        FOREIGN KEY (IdEmpleado) REFERENCES Empleado(Id),
        FOREIGN KEY (IdTipoDeduccion) REFERENCES TiposDeduccion(Id)
    );
    
	-- NOTA: NO olvidar agregar el trihheras
	--CREATE TRIGGER trg_AsociarDeduccionesObligatorias
	--ON Empleado
	--AFTER INSERT
	--AS 
	--INSERT INTO EmpleadosDeduccion (IdEmpleado, IdTipoDeduccion, MontoFijo)
	--SELECT i.Id, td.Id, CASE WHEN td.Porcentual = 1 THEN NULL ELSE td.Valor END
	--FROM INSERTED AS i
	--CROSS JOIN TiposDeduccion AS td
	--WHERE td.Obligatorio = 1;

    CREATE TABLE MesesPlanilla (
        Id INT IDENTITY(1,1) PRIMARY KEY,
        Anio INT NOT NULL,
        Mes INT NOT NULL,
        FechaInicio DATE NOT NULL,
        FechaFin DATE NOT NULL,
        Cerrado BIT NOT NULL DEFAULT 0
    );
    
    CREATE TABLE SemanasPlanilla (
        Id INT IDENTITY(1,1) PRIMARY KEY,
        IdMes INT NOT NULL,
        NumeroSemana INT NOT NULL,
        FechaInicio DATE NOT NULL,
        FechaFin DATE NOT NULL,
        Cerrada BIT NOT NULL DEFAULT 0,
        FOREIGN KEY (IdMes) REFERENCES MesesPlanilla(Id)
    );
    
    CREATE TABLE JornadasEmpleados (
        Id INT IDENTITY(1,1) PRIMARY KEY,
        IdEmpleado INT NOT NULL,
        IdSemana INT NOT NULL,
        IdTipoJornada INT NOT NULL,
        FOREIGN KEY (IdEmpleado) REFERENCES Empleado(Id),
        FOREIGN KEY (IdSemana) REFERENCES SemanasPlanilla(Id),
        FOREIGN KEY (IdTipoJornada) REFERENCES TiposJornada(Id)
    );
    
    CREATE TABLE PlanillaSemanalEmpleado (
        Id INT IDENTITY(1,1) PRIMARY KEY,
        IdEmpleado INT NOT NULL,
        IdSemana INT NOT NULL,
        SalarioBruto DECIMAL(25,2) NOT NULL DEFAULT 0,
        TotalDeducciones DECIMAL(25,2) NOT NULL DEFAULT 0,
        SalarioNeto DECIMAL(25,2) NOT NULL DEFAULT 0,
        HorasOrdinarias INT NOT NULL DEFAULT 0,
        HorasExtrasNormales INT NOT NULL DEFAULT 0,
        HorasExtrasDobles INT NOT NULL DEFAULT 0,
        FOREIGN KEY (IdEmpleado) REFERENCES Empleado(Id),
        FOREIGN KEY (IdSemana) REFERENCES SemanasPlanilla(Id)
    );
    
    CREATE TABLE PlanillaMensualEmpleado (
        Id INT IDENTITY(1,1) PRIMARY KEY,
        IdEmpleado INT NOT NULL,
        IdMes INT NOT NULL,
        SalarioBruto DECIMAL(25,2) NOT NULL DEFAULT 0,
        TotalDeducciones DECIMAL(25,2) NOT NULL DEFAULT 0,
        SalarioNeto DECIMAL(25,2) NOT NULL DEFAULT 0,
        FOREIGN KEY (IdEmpleado) REFERENCES Empleado(Id),
        FOREIGN KEY (IdMes) REFERENCES MesesPlanilla(Id)
    );
    
    CREATE TABLE DeduccionesMensualesEmpleado (
        Id INT IDENTITY(1,1) PRIMARY KEY,
        IdPlanillaMensual INT NOT NULL,
        IdTipoDeduccion INT NOT NULL,
        Monto DECIMAL(25,2) NOT NULL,
        FOREIGN KEY (IdPlanillaMensual) REFERENCES PlanillaMensualEmpleado(Id),
        FOREIGN KEY (IdTipoDeduccion) REFERENCES TiposDeduccion(Id)
    );
    
    CREATE TABLE Movimiento (
        Id INT IDENTITY(1,1) PRIMARY KEY,
        IdEmpleado INT NOT NULL,
        IdSemana INT NOT NULL,
        Fecha DATE NOT NULL,
        TipoMovimiento VARCHAR(100) NOT NULL, 
        CategoriaMovimiento VARCHAR(100) NOT NULL, 
        Monto DECIMAL(25,2) NOT NULL,
        CantidadHoras INT NULL, 
        Descripcion VARCHAR(255) NULL,
        Fuente VARCHAR(100) NULL,
        FOREIGN KEY (IdEmpleado) REFERENCES Empleado(Id),
        FOREIGN KEY (IdSemana) REFERENCES SemanasPlanilla(Id)
    );
    
    CREATE TABLE Asistencias (
        Id INT IDENTITY(1,1) PRIMARY KEY,
        IdEmpleado INT NOT NULL,
        Fecha DATE NOT NULL,
        HoraEntrada DATETIME NOT NULL,
        HoraSalida DATETIME NOT NULL,
        Procesado BIT NOT NULL DEFAULT 0,
        FOREIGN KEY (IdEmpleado) REFERENCES Empleado(Id)
    );
    
    CREATE TABLE BitacoraEventos (
        Id INT IDENTITY(1,1) PRIMARY KEY,
        IdUsuario INT NOT NULL,
        IdTipoEvento INT NOT NULL,
        FechaHora DATETIME NOT NULL DEFAULT GETDATE(),
        IPUser VARCHAR(50) NULL,
        Descripcion VARCHAR(MAX) NULL,
        FOREIGN KEY (IdUsuario) REFERENCES Usuario(Id),
        FOREIGN KEY (IdTipoEvento) REFERENCES TiposEvento(Id)
    );
    
    PRINT 'Todas las tablas han sido recreadas exitosamente.';
END;