ALTER PROCEDURE [dbo].[sp_CrearEmpleadoYUsuario]
    @inNombre VARCHAR(100),
    @inIdTipoDocumento INT,
    @inValorDocumento VARCHAR(64),
    @inFechaNacimiento DATE,
    @inIdPuesto INT,
    @inIdDepartamento INT,

    @inUsername VARCHAR(64),
    @inPassword VARCHAR(100),

    @inIdUsuarioEjecutor INT,
    @inUserIP VARCHAR(64),

    @outResultCode INT OUTPUT,
    @outResultDescription VARCHAR(529) OUTPUT,
	@outIdEmpleado INT OUTPUT,
    @outIdUsuario INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET @outResultCode = 0;
    SET @outResultDescription = '';

	SET @outIdEmpleado = -1;
    SET @outIdUsuario = -1;
    
    DECLARE @IdTipoEvento INT = 5;
    DECLARE @EstadoNuevo VARCHAR(MAX);
    DECLARE @TipoUsuarioEmpleado INT = 2;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
		-- 1. Validar que el docuemnto de identidad no exista
        IF EXISTS (SELECT 1 FROM dbo.Empleado WHERE ValorDocumento = @inValorDocumento)
        BEGIN
            SET @outResultCode = 50004;
            
			IF EXISTS (SELECT 1 FROM dbo.Errores AS e WHERE e.Id = @outResultCode)
				SELECT @outResultDescription = e.Descripcion FROM Errores AS e 
				WHERE e.Id = @outResultCode;
			ELSE
				SET @outResultDescription = '';

            INSERT INTO dbo.BitacoraEventos (
				IdUsuario
				, IdTipoEvento
				, FechaHora
				, IPUser
				, Descripcion
            )
            VALUES (
                @inIdUsuarioEjecutor
				, @IdTipoEvento
				, GETDATE()
				, @inUserIP
				, JSON_OBJECT(
					'error': @outResultDescription,
					'numeroError': @outResultCode
				)
            );
            
            COMMIT TRANSACTION;
            RETURN;
        END;
        
        -- 2. Validar que el username y nombre no exista
        IF EXISTS (SELECT 1 FROM dbo.Usuario AS u, dbo.Empleado AS e 
			WHERE u.Username = @inUsername OR e.Nombre = @inNombre)
        BEGIN
            SET @outResultCode = 50005;

            IF EXISTS (SELECT 1 FROM dbo.Errores AS e WHERE e.Id = @outResultCode)
				SELECT @outResultDescription = e.Descripcion FROM dbo.Errores AS e 
				WHERE e.Id = @outResultCode;
			ELSE
				SET @outResultDescription = '';
            
            -- Registrar intento fallido en bitácora
            INSERT INTO dbo.BitacoraEventos (
                IdUsuario
				, IdTipoEvento
				, FechaHora
				, IPUser
				, Descripcion
            )
            VALUES (
                @inIdUsuarioEjecutor
				, @IdTipoEvento
				, GETDATE()
				, @inUserIP,
                JSON_OBJECT(
					'error': @outResultDescription,
					'numeroError': @outResultCode
				)
            );
            
            COMMIT TRANSACTION;
            RETURN;
        END;
        
        -- 3. Crear el usuario
        INSERT INTO dbo.Usuario (
            Username
			, Password
			, Tipo
        )
        VALUES (
            @inUsername
			, @inPassword
			, @TipoUsuarioEmpleado
        );
		SET @outIdUsuario = SCOPE_IDENTITY();
                
        -- 4. Crear el empleado
        INSERT INTO dbo.Empleado (
            Nombre
			, IdTipoDocumento
			, ValorDocumento
			, FechaNacimiento
			, IdPuesto
			, IdDepartamento
			, IdUsuario
			, Activo
        )
        VALUES (
            @inNombre
			, @inIdTipoDocumento
			, @inValorDocumento
			, @inFechaNacimiento
			, @inIdPuesto
			, @inIdDepartamento
			, @outIdUsuario
			, 1
        );
		SET @outIdEmpleado = SCOPE_IDENTITY();
           
        -- 5. Preparar datos del empleado para bitácora
        SET @EstadoNuevo = JSON_OBJECT(
            'Nombre': @inNombre
			, 'TipoDocumento': @inIdTipoDocumento
			, 'ValorDocumento': @inValorDocumento
			, 'FechaNacimiento': CONVERT(VARCHAR, @inFechaNacimiento, 120)
			, 'Puesto': @inIdPuesto
			, 'Departamento': @inIdDepartamento
			, 'Username': @inUsername
			, 'TipoUsuario': @TipoUsuarioEmpleado
        );
        
        -- 6. Registrar en bitácora
        INSERT INTO dbo.BitacoraEventos (
            IdUsuario
			, IdTipoEvento
			, FechaHora
			, IPUser
			, Descripcion
        )
        VALUES (
            @inIdUsuarioEjecutor
			, @IdTipoEvento
			, GETDATE()
			, @inUserIP
			, @EstadoNuevo
        );
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        SET @outResultCode = ERROR_NUMBER();
        SET @outResultDescription = ERROR_MESSAGE();
        
        -- Registrar error
        INSERT INTO dbo.BitacoraEventos (
            IdUsuario
			, IdTipoEvento
			, FechaHora
			, IPUser
			, Descripcion
        )
        VALUES (
            @inIdUsuarioEjecutor
			, @IdTipoEvento
			, GETDATE()
			, @inUserIP
			, JSON_OBJECT(
				'error': @outResultDescription,
				'numeroError': @outResultCode
			)
        );
    END CATCH;
END;