ALTER PROCEDURE [dbo].[sp_EliminarEmpleado]
    @inIdEmpleado INT
	, @inIdUsuario INT
	, @inUserIP VARCHAR(64)
	, @outResultCode INT OUTPUT
	, @outResultDescription VARCHAR(529) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
	BEGIN TRANSACTION;
        SET @outResultCode = 0;
        SET @outResultDescription = '';

        IF NOT EXISTS (SELECT 1 FROM dbo.Empleado AS e
		WHERE e.Id = @inIdEmpleado AND Activo = 1)
        BEGIN
            SET @outResultCode = 60001;
            SET @outResultDescription = 'El empleado no existe o ya está inactivo';
            RETURN;
        END;
       
        UPDATE dbo.Empleado 
        SET  Activo = 0
        WHERE Id = @inIdEmpleado;
            
        INSERT INTO dbo.BitacoraEventos (
            IdUsuario
			, IdTipoEvento
			, FechaHora
			, IPUser
			, Descripcion
        )
        VALUES (
            @inIdUsuario
			, 6
			, GETDATE()
			, @inUserIP
			, JSON_OBJECT('IdEmpleado': @inIdEmpleado)
        );
    COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH

		IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        SET @outResultCode = ERROR_NUMBER();
        SET @outResultDescription = ERROR_MESSAGE();
        
		INSERT INTO dbo.BitacoraEventos (
            IdUsuario
			, IdTipoEvento
			, FechaHora
			, IPUser
			, Descripcion
        )
        VALUES (
            @inIdUsuario
			, 6
			, GETDATE()
			, @inUserIP
			, JSON_OBJECT(
                'error': ERROR_MESSAGE(),
                'numeroError': ERROR_NUMBER()
            )
        );

    END CATCH;
    
    SET NOCOUNT OFF;
END;