ALTER PROCEDURE [dbo].[sp_BorrarYReiniciarBaseDatos]
	@outResultCode INT OUTPUT,
	@outResultDescription Nvarchar(529) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Borrar datos de tablas con en orden inverso
        DELETE FROM dbo.BitacoraEventos;
        DELETE FROM dbo.Asistencias;
        DELETE FROM dbo.Movimiento;
        DELETE FROM dbo.DeduccionesMensualesEmpleado;
        DELETE FROM dbo.PlanillaMensualEmpleado;
        DELETE FROM dbo.PlanillaSemanalEmpleado;
        DELETE FROM dbo.JornadasEmpleados;
        DELETE FROM dbo.SemanasPlanilla;
        DELETE FROM dbo.MesesPlanilla;
        DELETE FROM dbo.EmpleadosDeduccion;
        DELETE FROM dbo.Empleado;
        DELETE FROM dbo.Usuario;
        
        -- Borrar datos de tablas ctalogo
        DELETE FROM dbo.TiposEvento;
        DELETE FROM dbo.TiposDeduccion;
        DELETE FROM dbo.TiposMovimiento;
        DELETE FROM dbo.Feriado;
        DELETE FROM dbo.Puesto;
        DELETE FROM dbo.Departamento;
        DELETE FROM dbo.TiposJornada;
        DELETE FROM dbo.TiposDocumentoIdentidad;
		DELETE FROM dbo.Errores;
        
        -- Reiniciar los valores tipo IDENTITY
        DBCC CHECKIDENT ('BitacoraEventos', RESEED, 0);
        DBCC CHECKIDENT ('Asistencias', RESEED, 0);
        DBCC CHECKIDENT ('Movimiento', RESEED, 0);
        DBCC CHECKIDENT ('DeduccionesMensualesEmpleado', RESEED, 0);
        DBCC CHECKIDENT ('PlanillaMensualEmpleado', RESEED, 0);
        DBCC CHECKIDENT ('PlanillaSemanalEmpleado', RESEED, 0);
        DBCC CHECKIDENT ('JornadasEmpleados', RESEED, 0);
        DBCC CHECKIDENT ('SemanasPlanilla', RESEED, 0);
        DBCC CHECKIDENT ('MesesPlanilla', RESEED, 0);
        DBCC CHECKIDENT ('EmpleadosDeduccion', RESEED, 0);
        DBCC CHECKIDENT ('Empleado', RESEED, 0);
        DBCC CHECKIDENT ('Puesto', RESEED, 0);
		DBCC CHECKIDENT ('Usuario', RESEED, 0);
        
        COMMIT TRANSACTION;
        SET @outResultCode = 0;
		SET @outResultDescription = '';
	END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        SET @outResultCode = ERROR_NUMBER();
		SET @outResultDescription = ERROR_MESSAGE();
    END CATCH;
END;