ALTER PROCEDURE [dbo].[sp_CargarOperacionesXML]
    @XmlOperacion XML
	, @inIdUsuario INT
	, @inUserIP VARCHAR(64)
	, @outResultCode INT OUTPUT
	, @outResultDescription VARCHAR(529) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
	BEGIN TRY
	BEGIN TRANSACTION;

	    -- Extraer fechas del XML oredenadamente
		DECLARE @FechasOperacion TABLE (
			RowNum INT IDENTITY(1,1)
			, Fecha DATE
		);

		INSERT INTO @FechasOperacion (Fecha)
		SELECT DISTINCT x.value('@Fecha', 'DATE') AS Fecha
		FROM @XmlOperacion.nodes('/Operacion/FechaOperacion') AS T(x)
		ORDER BY Fecha;

		DECLARE @TotalFechas INT = (SELECT COUNT(RowNum) FROM @FechasOperacion);
		DECLARE @Indice INT = 1;
		DECLARE @FechaActual DATE;

		PRINT 'TOTAL FECHAS:' + CAST(@TotalFechas AS VARCHAR);

		WHILE @Indice <= @TotalFechas
		BEGIN
			SELECT @FechaActual = Fecha FROM @FechasOperacion WHERE RowNum = @Indice;
			PRINT '';
			PRINT 'FECHA ACTUAL:' + CAST(@FechaActual AS VARCHAR);

			-- Cierre de semana si es jueves
			IF DATENAME(WEEKDAY, @FechaActual) = 'Thursday'
			BEGIN
					
				-- Verifica si mañana es el primer viernes del mes
				IF DATEPART(DAY, DATEADD(DAY, 1, @FechaActual)) BETWEEN 1 AND 7
					AND DATENAME(WEEKDAY, DATEADD(DAY, 1, @FechaActual)) = 'Friday'
				BEGIN
					PRINT ' =======[NUEVO MES]======= ';
					EXEC sub_AbrirNuevoMes @FechaActual;

				END;

				PRINT '=======[JUEVES : CERRAR SEMANA]=======';
				EXEC sub_RealizarCierreSemanal @FechaActual;
				EXEC sub_PrepararNuevaSemana @FechaActual;
			END;

			EXEC sub_ProcesarNuevosEmpleados @XmlOperacion, @FechaActual, @inIdUsuario, @inUserIP;

			EXEC sub_EliminarEmpleadosLogicamente @XmlOperacion, @FechaActual, @inIdUsuario, @inUserIP;

			EXEC sub_ProcesarJornadas @XmlOperacion, @FechaActual, @inIdUsuario, @inUserIP;

			EXEC sub_ProcesarAsistencias @XmlOperacion, @FechaActual, @inIdUsuario, @inUserIP;
					
			EXEC sub_ProcesarDeducciones @XmlOperacion, @FechaActual, @inIdUsuario, @inUserIP;

			SET @Indice += 1;
		END;
	COMMIT TRANSACTION;

	SET @outResultCode = 0;
    SET @outResultDescription = '';

	END TRY

	BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        SET @outResultCode = ERROR_NUMBER();
        SET @outResultDescription = ERROR_MESSAGE();

		INSERT INTO BitacoraEventos (
			IdUsuario,
			IdTipoEvento,
			FechaHora,
			IPUser,
			Descripcion
		)
		VALUES (
			@inIdUsuario,
			1,
			GETDATE(),
			@inUserIP,
			JSON_OBJECT(
				'error':  @outResultDescription,
				'numeroError': @outResultCode,
				'errorLine': ERROR_LINE(),
				'procedimiento': 'sp_CargarOperacionesXML'
			)
		);

	END CATCH;
END;