ALTER PROCEDURE [dbo].[sub_ProcesarJornadas]
    @XmlOperacion XML
	, @FechaOperacion DATE
	, @inIdUsuario INT
	, @inUserIP VARCHAR(64)
AS
BEGIN
    SET NOCOUNT ON;
	BEGIN TRY

		SET DATEFIRST 1;

		-- Calcular el próximo viernes después de FechaOperacion
		DECLARE @InicioSemana DATE = DATEADD(DAY, (5 - DATEPART(WEEKDAY, @FechaOperacion) + 7) % 7, @FechaOperacion);
		IF @InicioSemana <= @FechaOperacion SET @InicioSemana = DATEADD(DAY, 7, @InicioSemana);

		DECLARE @IdSemana INT;

		-- 1. Obtener ID de semana
		SELECT TOP 1 @IdSemana = sp.Id
		FROM dbo.SemanasPlanilla AS sp
		WHERE sp.FechaInicio = @InicioSemana;

		IF @IdSemana IS NULL RETURN;

		CREATE TABLE #Jornadas (
			ValorDocumento VARCHAR(64),
			IdTipoJornada INT
		);

		INSERT INTO #Jornadas (ValorDocumento, IdTipoJornada)
		SELECT 
			j.value('@ValorTipoDocumento', 'VARCHAR(64)'),
			j.value('@IdTipoJornada', 'INT')
		FROM @XmlOperacion.nodes('/Operacion/FechaOperacion[@Fecha=sql:variable("@FechaOperacion")]/JornadasProximaSemana/TipoJornadaProximaSemana') AS T(j);

		-- Insertar jornadas
		INSERT INTO dbo.JornadasEmpleados (IdEmpleado, IdSemana, IdTipoJornada)
		SELECT 
			e.Id
			, @IdSemana
			, j.IdTipoJornada
		FROM #Jornadas AS j
		JOIN dbo.Empleado e ON e.ValorDocumento = j.ValorDocumento
		WHERE NOT EXISTS (
			SELECT 1 FROM dbo.JornadasEmpleados AS je
			WHERE je.IdEmpleado = e.Id AND je.IdSemana = @IdSemana
		);

		-- Registrar en bitácora
		INSERT INTO dbo.BitacoraEventos (
			IdUsuario
			, IdTipoEvento
			, FechaHora
			, IPUser
			, Descripcion
		)
		SELECT 
			@inIdUsuario
			, 15
			, GETDATE()
			, @inUserIP
			, JSON_OBJECT(
				'EmpleadoId':  e.Id,
				'TipoJornadaId': j.IdTipoJornada,
				'SemanaId': @IdSemana	
			)
		FROM #Jornadas AS j
		JOIN dbo.Empleado AS e ON e.ValorDocumento = j.ValorDocumento
		WHERE NOT EXISTS (
			SELECT 1 FROM dbo.JornadasEmpleados AS je
			WHERE je.IdEmpleado = e.Id AND je.IdSemana = @IdSemana
		);

		DECLARE @DebugMessage VARCHAR(MAX);
		SET @DebugMessage = '		[DONE] : sub_ProcesarJornadas';
        RAISERROR(@DebugMessage, 0, 1) WITH NOWAIT;

		DROP TABLE #Jornadas;

	END TRY
	BEGIN CATCH

		-- Registrar error técnico en bitácora
		INSERT INTO dbo.BitacoraEventos (
			IdUsuario
			, IdTipoEvento
			, FechaHora
			, IPUser
			, Descripcion
		)
		VALUES (
			@inIdUsuario
			, 15
			, GETDATE()
			, @inUserIP
			, JSON_OBJECT(
				'error':  ERROR_MESSAGE(),
				'numeroError': ERROR_NUMBER(),
				'errorLine': ERROR_LINE(),
				'procedimiento': 'sub_ProcesarJornadas'
			)
		);
		THROW;
	END CATCH;
END;