ALTER PROCEDURE [dbo].[sub_EliminarEmpleadosLogicamente]
    @XmlOperacion XML
	, @FechaOperacion DATE
	, @inIdUsuario INT
	, @inUserIP VARCHAR(64)
AS
BEGIN
    SET NOCOUNT ON;
	BEGIN TRY

		-- Tabla temporal con los documentos a eliminar
		CREATE TABLE #EmpleadosEliminar (
			ValorDocumento VARCHAR(64)
		);

		INSERT INTO #EmpleadosEliminar (ValorDocumento)
		SELECT x.value('@ValorTipoDocumento', 'VARCHAR(64)')
		FROM @XmlOperacion.nodes('/Operacion/FechaOperacion[@Fecha=sql:variable("@FechaOperacion")]/EliminarEmpleados/EliminarEmpleado') 
		AS T(x);

		DECLARE @TotalEmpleadosEliminados INT = 0;
		SELECT @TotalEmpleadosEliminados = COUNT(ValorDocumento) FROM #EmpleadosEliminar;
		IF @TotalEmpleadosEliminados = 0 RETURN;

		-- Eliminar lógicamente
		UPDATE dbo.Empleado
		SET Activo = 0
		WHERE ValorDocumento 
		IN (SELECT ValorDocumento FROM #EmpleadosEliminar);

		-- Bitácora por cada eliminación
		INSERT INTO dbo.BitacoraEventos (
			IdUsuario
			, IdTipoEvento
			, FechaHora
			, IPUser
			,Descripcion
		)
		SELECT 
			@inIdUsuario
			, 6
			, GETDATE()
			, @inUserIP
			, JSON_OBJECT('IdEmpleado': e.ValorDocumento)
		FROM #EmpleadosEliminar AS e;

		DECLARE @DebugMessage VARCHAR(MAX);
		SET @DebugMessage = '		[DONE] : sub_EliminarEmpleadosLogicamente';
		RAISERROR(@DebugMessage, 0, 1) WITH NOWAIT;

		DROP TABLE #EmpleadosEliminar;

END TRY
BEGIN CATCH

    -- Registrar error en bitácora
    INSERT INTO dbo.BitacoraEventos (
        IdUsuario
		, IdTipoEvento
		, FechaHora
		, IPUser
		, Descripcion
    )
    VALUES (
        @inIdUsuario
		, 6
		, GETDATE()
		, @inUserIP
		, JSON_OBJECT(
			'error':  ERROR_MESSAGE(),
			'numeroError': ERROR_NUMBER(),
			'errorLine': ERROR_LINE(),
			'procedimiento': 'sub_EliminarEmpleadosLogicamente'
		)
    );
	THROW;
    END CATCH;
END;

