ALTER PROCEDURE [dbo].[sub_ProcesarAsistencias]
    @XmlOperacion XML
	, @FechaOperacion DATE
	, @inIdUsuario INT
	, @inUserIP VARCHAR(64)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SET DATEFIRST 1;

        DECLARE @EsFeriado BIT = CASE WHEN EXISTS (
            SELECT 1 FROM Feriado WHERE Fecha = @FechaOperacion
        ) THEN 1 ELSE 0 END;

        DECLARE @EsDomingo BIT = CASE WHEN DATENAME(WEEKDAY, @FechaOperacion) = 'Sunday' 
		THEN 1 ELSE 0 END;

        CREATE TABLE #AsistenciasProcesadas (
            IdEmpleado INT
			, Fecha DATE
			, HoraEntrada DATETIME
			, HoraSalida DATETIME
			, SalarioXHora DECIMAL(10,2)
			, HoraInicio TIME
			, HoraFin TIME
			, IdSemana INT
			, HorasOrdinarias INT NULL
			, HorasExtrasNormales INT NULL
			, HorasExtrasDobles INT NULL
        );

        -- 1. Extraer e insertar marcas de asistencia 
        INSERT INTO #AsistenciasProcesadas (
			IdEmpleado
			, Fecha
			, HoraEntrada
			, HoraSalida
			, SalarioXHora
			, HoraInicio
			, HoraFin
			, IdSemana
		)
        SELECT 
            e.Id
			, CAST(ax.HoraEntrada AS DATE)
			, ax.HoraEntrada
			, CASE 
                WHEN ax.HoraSalida < ax.HoraEntrada THEN DATEADD(DAY, 1, ax.HoraSalida)
                ELSE ax.HoraSalida 
            END
			, p.SalarioXHora
			, tj.HoraInicio
			, tj.HoraFin
			, sp.Id
        FROM (
            SELECT 
                x.value('@ValorTipoDocumento', 'VARCHAR(64)') AS ValorDocumento,
                x.value('@HoraEntrada', 'DATETIME') AS HoraEntrada,
                x.value('@HoraSalida', 'DATETIME') AS HoraSalida
            FROM @XmlOperacion.nodes('/Operacion/FechaOperacion[@Fecha=sql:variable("@FechaOperacion")]/MarcasAsistencia/MarcaDeAsistencia') AS T(x)
        ) AS ax
        JOIN dbo.Empleado AS e ON e.ValorDocumento = ax.ValorDocumento
		JOIN dbo.SemanasPlanilla AS sp ON @FechaOperacion BETWEEN sp.FechaInicio AND sp.FechaFin
        JOIN dbo.JornadasEmpleados AS je ON je.IdEmpleado = e.Id AND sp.Id = je.IdSemana
        JOIN dbo.TiposJornada AS tj ON tj.Id = je.IdTipoJornada
        JOIN dbo.Puesto AS p ON p.Id = e.IdPuesto;

		DECLARE @TotalAsistencias INT = 0;
		SELECT @TotalAsistencias = COUNT(IdEmpleado) FROM #AsistenciasProcesadas;

		DECLARE @Message VARCHAR(MAX);
		SET @Message = '			[Asistencias Procesadas #'+ CAST(@TotalAsistencias AS varchar) +'] : EL ' + CAST(@FechaOperacion AS varchar);
		RAISERROR(@Message, 0, 1) WITH NOWAIT;

		IF @TotalAsistencias = 0 RETURN;

		-- 2. Calcular horas 
		-- tabla temporal (NO OLVIDAR BORRAR) con las horas ya calculadas
		CREATE TABLE #HorasCalculadas (
			IdEmpleado INT
			, HoraEntrada DATETIME
			, HorasOrdinarias INT
			, HorasExtrasNormales INT
			, HorasExtrasDobles INT
		);

		INSERT INTO #HorasCalculadas (
			IdEmpleado
			, HoraEntrada
			, HorasOrdinarias
			, HorasExtrasNormales
			, HorasExtrasDobles
		)
		SELECT 
			ap.IdEmpleado
			, ap.HoraEntrada
			,
			-- Horas Ordinarias
			CASE 
				WHEN DATEDIFF(MINUTE, 
					CASE WHEN ap.HoraEntrada < ap.InicioJornada THEN ap.InicioJornada ELSE ap.HoraEntrada END,
					CASE WHEN ap.HoraSalida > ap.FinJornada THEN ap.FinJornada ELSE ap.HoraSalida END
				) < 0 THEN 0
				ELSE DATEDIFF(MINUTE, 
					CASE WHEN ap.HoraEntrada < ap.InicioJornada THEN ap.InicioJornada ELSE ap.HoraEntrada END,
					CASE WHEN ap.HoraSalida > ap.FinJornada THEN ap.FinJornada ELSE ap.HoraSalida END
				) / 60
			END AS HorasOrdinarias
			,

			-- Horas Extras Normales
			CASE 
				WHEN @EsFeriado = 0 AND @EsDomingo = 0 AND ap.HoraSalida > ap.FinJornada
				THEN DATEDIFF(MINUTE, ap.FinJornada, ap.HoraSalida) / 60
				ELSE 0
			END AS HorasExtrasNormales
			,

			-- Horas Extras Dobles
			CASE 
				WHEN (@EsFeriado = 1 OR @EsDomingo = 1) AND ap.HoraSalida > ap.FinJornada
				THEN DATEDIFF(MINUTE, ap.FinJornada, ap.HoraSalida) / 60
				ELSE 0
			END AS HorasExtrasDobles

		FROM (
			SELECT 
				IdEmpleado
				, HoraEntrada
				, HoraSalida
				, Fecha
				, HoraInicio
				, HoraFin
				, InicioJornada = CAST(Fecha AS DATETIME) + CAST(HoraInicio AS DATETIME)
				, FinJornada = CASE 
								WHEN HoraFin < HoraInicio 
								THEN DATEADD(DAY, 1, CAST(Fecha AS DATETIME) 
									+ CAST(HoraFin AS DATETIME))
								ELSE CAST(Fecha AS DATETIME) + CAST(HoraFin AS DATETIME)
							 END
			FROM #AsistenciasProcesadas
		) AS ap;

		UPDATE A
		SET 
			A.HorasOrdinarias = C.HorasOrdinarias,
			A.HorasExtrasNormales = C.HorasExtrasNormales,
			A.HorasExtrasDobles = C.HorasExtrasDobles
		FROM #AsistenciasProcesadas AS A
		JOIN #HorasCalculadas C ON A.IdEmpleado = C.IdEmpleado 
		AND A.HoraEntrada = C.HoraEntrada;

		DROP TABLE #HorasCalculadas;

        -- 3. Insertar en tabla Asistencias
        INSERT INTO dbo.Asistencias (
			IdEmpleado
			, Fecha
			, HoraEntrada
			, HoraSalida
		)
        SELECT 
			IdEmpleado
			, Fecha
			, HoraEntrada
			, HoraSalida
        FROM #AsistenciasProcesadas;

        -- 4. Insertar en Movimiento y actualizar Planilla
        INSERT INTO dbo.Movimiento (
			IdEmpleado
			, IdSemana
			, Fecha
			, TipoMovimiento
			, CategoriaMovimiento
			, Monto
			, CantidadHoras
			, Fuente
		)
        SELECT 
			IdEmpleado
			, IdSemana
			, Fecha
			, tm.Nombre
			, 'Horas Ordinarias'
			, HorasOrdinarias * SalarioXHora, HorasOrdinarias
			, 'Asistencia' 
        FROM #AsistenciasProcesadas 
		JOIN dbo.TiposMovimiento AS tm ON tm.Id = 1
		WHERE HorasOrdinarias > 0;

        INSERT INTO dbo.Movimiento (
			IdEmpleado
			, IdSemana
			, Fecha
			, TipoMovimiento
			, CategoriaMovimiento
			, Monto
			, CantidadHoras
			, Fuente
		)
        SELECT 
			IdEmpleado
			, IdSemana
			, Fecha
			, tm.Nombre
			, 'Horas Extra Normales'
			, HorasExtrasNormales * SalarioXHora * 1.5, HorasExtrasNormales
			, 'Asistencia'
        FROM #AsistenciasProcesadas
		JOIN dbo.TiposMovimiento AS tm ON tm.Id = 2
		WHERE HorasExtrasNormales > 0;

        INSERT INTO dbo.Movimiento (
			IdEmpleado
			, IdSemana
			, Fecha
			, TipoMovimiento
			, CategoriaMovimiento
			, Monto
			, CantidadHoras
			, Fuente
		)
        SELECT IdEmpleado
			, IdSemana
			, Fecha
			, tm.Nombre
			, 'Horas Extra Dobles'
			, HorasExtrasDobles * SalarioXHora * 2, HorasExtrasDobles
			, 'Asistencia'
        FROM #AsistenciasProcesadas 
		JOIN dbo.TiposMovimiento AS tm ON tm.Id = 3
		WHERE HorasExtrasDobles > 0;

        -- 5. Actualizar PlanillaSemanalEmpleado
		UPDATE dbo.PlanillaSemanalEmpleado
		SET 
			SalarioBruto = Planilla.SalarioBruto + Calculos.TotalSalarioBruto
			, HorasOrdinarias = Planilla.HorasOrdinarias + Calculos.TotalHorasOrdinarias
			, HorasExtrasNormales = Planilla.HorasExtrasNormales + Calculos.TotalHorasExtrasNormales
			, HorasExtrasDobles = Planilla.HorasExtrasDobles + Calculos.TotalHorasExtrasDobles
		FROM dbo.PlanillaSemanalEmpleado AS Planilla
		INNER JOIN (
			SELECT 
				IdEmpleado
				, IdSemana
				, SUM(ISNULL(HorasOrdinarias, 0) * SalarioXHora
				  + ISNULL(HorasExtrasNormales, 0) * SalarioXHora * 1.5
				  + ISNULL(HorasExtrasDobles, 0) * SalarioXHora * 2) AS TotalSalarioBruto
				  , SUM(HorasOrdinarias) AS TotalHorasOrdinarias
				, SUM(HorasExtrasNormales) AS TotalHorasExtrasNormales
				, SUM(HorasExtrasDobles) AS TotalHorasExtrasDobles
			FROM #AsistenciasProcesadas
			GROUP BY IdEmpleado, IdSemana
		) AS Calculos
		ON Planilla.IdEmpleado = Calculos.IdEmpleado 
		AND Planilla.IdSemana = Calculos.IdSemana;

		-- 6. Insertar los registros que no existen
		INSERT INTO dbo.PlanillaSemanalEmpleado (
			IdEmpleado
			, IdSemana
			, SalarioBruto
			, HorasOrdinarias
			, HorasExtrasNormales
			, HorasExtrasDobles
		)
		SELECT 
			IdEmpleado
			, IdSemana
			, SUM(ISNULL(HorasOrdinarias, 0) * SalarioXHora
				+ ISNULL(HorasExtrasNormales, 0) * SalarioXHora * 1.5
				+ ISNULL(HorasExtrasDobles, 0) * SalarioXHora * 2) AS SalarioBruto
			, SUM(HorasOrdinarias) AS HorasOrdinarias
			, SUM(HorasExtrasNormales) AS HorasExtrasNormales
			, SUM(HorasExtrasDobles) AS HorasExtrasDobles
		FROM #AsistenciasProcesadas AS A
		WHERE NOT EXISTS (
			SELECT 1 
			FROM dbo.PlanillaSemanalEmpleado AS P
			WHERE P.IdEmpleado = A.IdEmpleado 
			AND P.IdSemana = A.IdSemana
		)
		GROUP BY A.IdEmpleado, A.IdSemana;

        -- 6. Bitácora
        INSERT INTO dbo.BitacoraEventos (
			IdUsuario
			, IdTipoEvento
			, FechaHora
			, IPUser
			, Descripcion
		)
        SELECT 
            @inIdUsuario
			, 14
			, GETDATE()
			, @inUserIP
			, JSON_OBJECT(
                'EmpleadoId': IdEmpleado,
                'Entrada': HoraEntrada,
                'Salida': HoraSalida,
                'Semana': IdSemana,
                'Ordinarias': HorasOrdinarias,
                'Normales': HorasExtrasNormales,
                'Dobles': HorasExtrasDobles
            )
        FROM #AsistenciasProcesadas;

		DECLARE @DebugMessage VARCHAR(MAX);
		SET @DebugMessage = '		[DONE] : sub_ProcesarAsistencias';
		RAISERROR(@DebugMessage, 0, 1) WITH NOWAIT;

        DROP TABLE #AsistenciasProcesadas;
    END TRY
    BEGIN CATCH
        INSERT INTO dbo.BitacoraEventos (
            IdUsuario
			, IdTipoEvento
			, FechaHora
			, IPUser
			, Descripcion
        )
        VALUES (
            @inIdUsuario
			, 14
			, GETDATE()
			, @inUserIP
			, JSON_OBJECT(
                'error': ERROR_MESSAGE(),
                'linea': ERROR_LINE(),
                'procedimiento': 'sub_ProcesarAsistencias'
            )
        );
        THROW;
    END CATCH;
END;
