ALTER PROCEDURE [dbo].[sub_AbrirNuevoMes]
    @FechaOperacion DATE
AS
BEGIN
    SET NOCOUNT ON;

    -- Día siguiente (viernes)
    DECLARE @FechaInicioMes DATE = DATEADD(DAY, 1, @FechaOperacion);
    DECLARE @Anio INT = YEAR(@FechaInicioMes);
    DECLARE @Mes INT = MONTH(@FechaInicioMes);

    -- Verificar si ya existe el mes
    IF EXISTS (
        SELECT 1 FROM dbo.MesesPlanilla
        WHERE Anio = @Anio AND Mes = @Mes
    ) RETURN;

    -- Calcular fecha fin del mes planilla 
	-- NOTA ESTO ES EL último jueves antes del primer viernes del próximo mes
	DECLARE @FechaFinMes DATE;
	DECLARE @PrimerDiaMesSiguiente DATE = DATEADD(MONTH, 1, @FechaInicioMes);
	DECLARE @PrimerViernesMesSiguiente DATE;

	-- Encontrar el primer viernes del mes siguiente
	SET @PrimerViernesMesSiguiente = DATEADD(
		DAY, 
		(6 - DATEPART(WEEKDAY, @PrimerDiaMesSiguiente) + 7) % 7, 
		@PrimerDiaMesSiguiente
	);

	-- El último jueves antes del primer viernes es simplemente un día antes
	SET @FechaFinMes = DATEADD(DAY, -1, @PrimerViernesMesSiguiente);

    -- Insertar encabezado de mes
    INSERT INTO dbo.MesesPlanilla (
		Anio
		, Mes
		, FechaInicio
		, FechaFin
		, Cerrado
	)
    VALUES (
		@Anio
		, @Mes
		, @FechaInicioMes
		, @FechaFinMes
		, 0
	);

    DECLARE @IdMes INT = SCOPE_IDENTITY();

    -- Crear encabezado mensual para todos los empleados activos
    INSERT INTO dbo.PlanillaMensualEmpleado (
		IdEmpleado
		, IdMes
	)
	SELECT 
		Id
		, @IdMes
    FROM dbo.Empleado AS e
    WHERE e.Activo = 1;

	DECLARE @DebugMessage VARCHAR(MAX);
	SET @DebugMessage = '		[DONE] : sub_AbrirNuevoMes';
	RAISERROR(@DebugMessage, 0, 1) WITH NOWAIT;

END;
