ALTER PROCEDURE [dbo].[sub_ProcesarDeducciones]
    @XmlOperacion XML
	, @FechaOperacion DATE
	, @inIdUsuario INT
	,@inUserIP VARCHAR(64)
AS
BEGIN
    SET NOCOUNT ON;
	BEGIN TRY

		-- 1. Asociaciones nuevas decucciones
		-- Tabla temporal para nuevas asociaciones
		CREATE TABLE #DeduccionesNuevas (
			ValorDocumento VARCHAR(64)
			, IdTipoDeduccion INT
			, Monto DECIMAL(25,2)
		);

		INSERT INTO #DeduccionesNuevas (ValorDocumento, IdTipoDeduccion, Monto)
		SELECT 
			d.value('@ValorTipoDocumento', 'VARCHAR(64)'),
			d.value('@IdTipoDeduccion', 'INT'),
			d.value('@Monto', 'DECIMAL(25,2)')
		FROM @XmlOperacion.nodes('/Operacion/FechaOperacion[@Fecha=sql:variable("@FechaOperacion")]/AsociacionEmpleadoDeducciones/AsociacionEmpleadoConDeduccion') AS T(d);

		DECLARE @TotalDeduccionesNuevas INT = 0;
		SELECT @TotalDeduccionesNuevas = COUNT(ValorDocumento) FROM #DeduccionesNuevas;

		-- Registrar bitácora para cada asociación
		INSERT INTO dbo.BitacoraEventos (
			IdUsuario
			, IdTipoEvento
			, FechaHora
			, IPUser
			, Descripcion
		)
		SELECT 
			@inIdUsuario
			, 8
			, GETDATE()
			, @inUserIP
			, JSON_OBJECT(
				'EmpleadoId': e.Id
				, 'TipoDeduccionId': td.Id
				, 'Porcentual': td.Porcentual
				, 'MontoFijo': ISNULL(dn.Monto, 0)	
			)
		FROM #DeduccionesNuevas AS dn
		JOIN dbo.Empleado e ON e.ValorDocumento = dn.ValorDocumento
		JOIN dbo.TiposDeduccion td ON td.Id = dn.IdTipoDeduccion
		WHERE NOT EXISTS (
			SELECT 1 FROM EmpleadosDeduccion AS ed
			WHERE ed.IdEmpleado = e.Id AND ed.IdTipoDeduccion = dn.IdTipoDeduccion 
			AND ed.FechaDesasociacion IS NULL
		);

		-- Insertar deducciones
		INSERT INTO dbo.EmpleadosDeduccion (
			IdEmpleado
			, IdTipoDeduccion
			, MontoFijo
			, FechaAsociacion
		)
		SELECT 
			e.Id
			, dn.IdTipoDeduccion
			, CASE WHEN td.Porcentual = 0 THEN dn.Monto ELSE NULL END
			, @FechaOperacion
		FROM #DeduccionesNuevas AS dn
		JOIN dbo.Empleado AS e ON e.ValorDocumento = dn.ValorDocumento
		JOIN dbo.TiposDeduccion AS td ON td.Id = dn.IdTipoDeduccion
		WHERE NOT EXISTS (
			SELECT 1 FROM dbo.EmpleadosDeduccion AS ed
			WHERE ed.IdEmpleado = e.Id AND ed.IdTipoDeduccion = dn.IdTipoDeduccion 
			AND ed.FechaDesasociacion IS NULL
		);

		-- 2. Desasociaciones
		-- Tabla temporal para desasociaciones
		CREATE TABLE #DeduccionesAEliminar (
			ValorDocumento VARCHAR(64)
			, IdTipoDeduccion INT
		);

		INSERT INTO #DeduccionesAEliminar (
			ValorDocumento
			, IdTipoDeduccion
		)
		SELECT 
			d.value('@ValorTipoDocumento', 'VARCHAR(64)'),
			d.value('@IdTipoDeduccion', 'INT')
		FROM @XmlOperacion.nodes('/Operacion/FechaOperacion[@Fecha=sql:variable("@FechaOperacion")]/DesasociacionEmpleadoDeducciones/DesasociacionEmpleadoConDeduccion') 
		AS T(d);

		DECLARE @TotalDeduccionesAEliminar INT = 0;
		SELECT @TotalDeduccionesAEliminar = COUNT(ValorDocumento) FROM #DeduccionesAEliminar;

		-- Bitácora antes de desasociar
		INSERT INTO dbo.BitacoraEventos (
			IdUsuario
			, IdTipoEvento
			, FechaHora
			, IPUser
			, Descripcion
		)
		SELECT 
			@inIdUsuario
			, 9
			, GETDATE()
			, @inUserIP
			, JSON_OBJECT(
				'EmpleadoId': e.Id,
				'TipoDeduccionId': da.IdTipoDeduccion	
			)
		FROM #DeduccionesAEliminar AS da
		JOIN dbo.Empleado AS e ON e.ValorDocumento = da.ValorDocumento
		JOIN dbo.EmpleadosDeduccion AS ed ON ed.IdEmpleado = e.Id 
		AND ed.IdTipoDeduccion = da.IdTipoDeduccion
		WHERE ed.FechaDesasociacion IS NULL;

		-- Desasociar
		UPDATE ed
		SET FechaDesasociacion = @FechaOperacion
		FROM dbo.EmpleadosDeduccion AS ed
		JOIN dbo.Empleado AS e ON e.Id = ed.IdEmpleado
		JOIN #DeduccionesAEliminar AS da ON da.ValorDocumento = e.ValorDocumento 
		AND da.IdTipoDeduccion = ed.IdTipoDeduccion
		WHERE ed.FechaDesasociacion IS NULL;
		
		IF @TotalDeduccionesNuevas = 0 AND @TotalDeduccionesAEliminar = 0 RETURN;

		DECLARE @DebugMessage VARCHAR(MAX);
		SET @DebugMessage = '		[DONE] : sub_ProcesarDeducciones';
		RAISERROR(@DebugMessage, 0, 1) WITH NOWAIT;

		DROP TABLE #DeduccionesNuevas;
		DROP TABLE #DeduccionesAEliminar;

	END TRY
	BEGIN CATCH
		-- Registrar error técnico en bitácora
		INSERT INTO dbo.BitacoraEventos (
			IdUsuario
			, IdTipoEvento
			, FechaHora
			, IPUser
			, Descripcion
		)
		VALUES (
			@inIdUsuario
			, 8
			, GETDATE()
			, @inUserIP
			, JSON_OBJECT(
				'error':  ERROR_MESSAGE(),
				'numeroError': ERROR_NUMBER(),
				'errorLine': ERROR_LINE(),
				'procedimiento': 'sub_ProcesarDeducciones'
			)
		);
		THROW;
    END CATCH;
END;
