ALTER PROCEDURE [dbo].[sub_ProcesarNuevosEmpleados]
    @XmlOperacion XML
	, @FechaOperacion DATE
	, @inIdUsuario INT
	, @inUserIP VARCHAR(64)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
		DECLARE @TotalEmpleadosNuevos INT = 0;
		DECLARE @NuevoEmpleado VARCHAR(MAX);

	-- Crear tabla temporal para almacenar empleados nuevos
	CREATE TABLE #EmpleadosNuevos (
		Nombre VARCHAR(100)
		, IdTipoDocumento INT
		, ValorDocumento VARCHAR(64)
		, FechaNacimiento DATE
		, IdDepartamento INT
		, NombrePuesto VARCHAR(100)
		, Usuario VARCHAR(64)
		, Password VARCHAR(100)
	);

	-- Extraer empleados de la fecha actual a la tabla temporal
	INSERT INTO #EmpleadosNuevos (
		Nombre
		, IdTipoDocumento
		, ValorDocumento
		, FechaNacimiento
		, IdDepartamento
		, NombrePuesto
		, Usuario
		, Password
	)
	SELECT 
		e.value('@Nombre', 'VARCHAR(100)') AS Nombre
		, e.value('@IdTipoDocumento', 'INT') AS IdTipoDocumento
		, e.value('@ValorTipoDocumento', 'VARCHAR(64)') AS ValorDocumento
		, e.value('@FechaNacimiento', 'DATE') AS FechaNacimiento
		, e.value('@IdDepartamento', 'INT') AS IdDepartamento
		, e.value('@NombrePuesto', 'VARCHAR(100)') AS NombrePuesto
		, e.value('@Usuario', 'VARCHAR(64)') AS Usuario
		, e.value('@Password', 'VARCHAR(100)') AS Password
	FROM @XmlOperacion.nodes('/Operacion/FechaOperacion[@Fecha=sql:variable("@FechaOperacion")]/NuevosEmpleados/NuevoEmpleado') 
	AS T(e);

    -- Si no hay empleados nuevos y retornar
	SELECT @TotalEmpleadosNuevos = COUNT(Nombre) FROM #EmpleadosNuevos;
	IF @TotalEmpleadosNuevos = 0 RETURN;

	-- Inserta los usuarios
	INSERT INTO dbo.Usuario (Username, Password, Tipo)
	SELECT en.Usuario, en.Password, 2
	FROM #EmpleadosNuevos AS en
	WHERE NOT EXISTS (
		SELECT 1 FROM dbo.Usuario AS u WHERE u.Username = en.Usuario
	);

	-- Inserta empleados
	INSERT INTO dbo.Empleado (
		Nombre
		, IdTipoDocumento
		, ValorDocumento
		, FechaNacimiento
		, IdDepartamento
		, IdPuesto
		, IdUsuario
		, Activo
	)
	SELECT 
		en.Nombre
		, en.IdTipoDocumento
		, en.ValorDocumento
		, en.FechaNacimiento
		, en.IdDepartamento
		, p.Id
		, u.Id
		, 1
	FROM #EmpleadosNuevos AS en
	INNER JOIN dbo.Puesto AS p ON p.Nombre = en.NombrePuesto
	INNER JOIN dbo.Usuario AS u ON u.Username = en.Usuario
	WHERE NOT EXISTS (
		SELECT 1 FROM DBO.Empleado AS emp, dbo.Usuario AS u 
		WHERE emp.ValorDocumento = en.ValorDocumento OR 
		emp.Nombre = en.Nombre AND u.Username = en.Usuario
	);
	
	-- Inserta en bitacora nuevos empleados 
	INSERT INTO dbo.BitacoraEventos (
		IdUsuario
		, IdTipoEvento
		, FechaHora
		, IPUser
		, Descripcion
	)
	SELECT 
		@inIdUsuario
		, 5
		, GETDATE()
		, @inUserIP
		, JSON_OBJECT(
			'Nombre': en.Nombre,
			'TipoDocumento': en.IdTipoDocumento,
			'ValorDocumento': en.ValorDocumento,
			'FechaNacimiento': en.FechaNacimiento,
			'Puesto': p.Id,
			'Departamento': en.IdDepartamento,
			'Username': en.Usuario,
			'TipoUsuario': 2		
		)
		FROM #EmpleadosNuevos AS en
		INNER JOIN dbo.Puesto AS p ON p.Nombre = en.NombrePuesto;

	DECLARE @DescripcionError VARCHAR(529);
	
	-- Inserta en bitacora errores docuemnto de identidad ya existe 
	SELECT @DescripcionError = Descripcion 
	FROM dbo.Errores AS e
	WHERE e.Codigo = 50004

	INSERT INTO dbo.BitacoraEventos (
		IdUsuario
		, IdTipoEvento
		, FechaHora
		, IPUser
		, Descripcion
	)
	SELECT 
		@inIdUsuario
		, 5
		, GETDATE()
		, @inUserIP
		, JSON_OBJECT(
			'error': @DescripcionError,
			'numeroError': 50004
		)
	FROM #EmpleadosNuevos AS en
	WHERE EXISTS (
		SELECT 1 FROM dbo.Empleado AS emp WHERE emp.ValorDocumento = en.ValorDocumento
	);

	-- Inserta en bitacora errores username o nombre ya existe 
	SELECT @DescripcionError = Descripcion 
	FROM Errores AS e
	WHERE e.Codigo = 50005

	INSERT INTO dbo.BitacoraEventos (
		IdUsuario
		, IdTipoEvento
		, FechaHora
		, IPUser
		, Descripcion
	)
	SELECT 
		@inIdUsuario
		, 5
		, GETDATE()
		, @inUserIP
		, JSON_OBJECT(
			'error': @DescripcionError,
			'numeroError': 50005
		)
	FROM #EmpleadosNuevos AS en
	WHERE EXISTS (
		SELECT 1 FROM dbo.Empleado AS emp, dbo.Usuario AS u 
		WHERE emp.Nombre = en.Nombre OR
		u.Username = en.Usuario
	);

	DECLARE @DebugMessage VARCHAR(MAX);
	SET @DebugMessage = '		[DONE] : sub_ProcesarNuevosEmpleados';
    RAISERROR(@DebugMessage, 0, 1) WITH NOWAIT;

	-- Eliminar la tabla temporal
	DROP TABLE #EmpleadosNuevos;

	END TRY
    BEGIN CATCH
		-- Registrar error técnico en bitácora
		INSERT INTO dbo.BitacoraEventos (
			IdUsuario
			, IdTipoEvento
			, FechaHora
			, IPUser
			, Descripcion
		)
		VALUES (
			@inIdUsuario
			, 5
			, GETDATE()
			, @inUserIP
			, JSON_OBJECT(
				'error':  ERROR_MESSAGE(),
				'numeroError': ERROR_NUMBER(),
				'errorLine': ERROR_LINE(),
				'procedimiento': 'sub_ProcesarNuevosEmpleados'
			)
		);
		THROW;
    END CATCH;
END;